
<div class="landing">
  <span class="headline_text">
  <button class="close ">&times;</button>
  <h1 class="logo headline_text">
    <%= image_tag "nomnivor.png", :id => "logo", :alt => "Nomnivor" %>
  </h1>
</span>
  <div id="tag-line">Find restaurants that match your diet.
  </div>

  <div>
    <form class="landing-search">
      <button role="button" class="find_me" id="find_current_location" title="Find my location">
      </button>
      <input type="text" class="nav-search-field" method="get" placeholder="Old Street, London" id="bar_search_term">

       <button type="submit" class="find_button find_location_button" id="geolocate">
      Find 
      </button>

      <div class="filterBar" id="filterBar-landing">
        <h5 class=filterHeader>Filter by diet: </h5>
        <% diets_array = Diet.all.map { |city| [city.name, city.id] } %>
        <%= select_tag("diets[]", options_for_select(diets_array),:class => 'multiselect',:multiple => 'multiple') %>

    </form>
  </div>
